@font-face {
    font-family: "Calibri";
    src: url('../fonts/calibri.ttf');
}

@font-face {
    font-family: "Tytoon Mist";
    src: url('../fonts/tytoon_mist.ttf');
}

@font-face {
    font-family: "Zorque";
    src: url('../fonts/zorque.otf');
}