@import url("reset.css");
@import url("variables.css");
@import url("boutons.css");
@import url("fonts.css");
@import url("boutons.css");

a {
    text-decoration: none;
    color: black;
}
  

@media screen and (max-width: 900px){
  
    /* MOBILE  */
}

/* ==================== [ PAGE ] ==================== */

body {
    background-color: #333;
}

.page {
    margin: auto;
    max-width: 1200px;
    background-image: url("../img/site/fond-wide-1200px.gif");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
}

/* =================== [ HEADER ] =================== */

header {
    height: var(--hauteur-header); /* c un 50 en fét tkt */
    display: flex;
    flex-direction: row;
    margin: 20px 0 40px 0;
}

.titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: var(--partie-gauche);
}

.titre div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: var(--partie-gauche);
}

.titre div h1 a {
    font-family: "Zorque", sans-serif;
}

.titre div img {
    max-height: var(--hauteur-header);
    margin-right: 0.5em;
}

.auth {
    width: var(--partie-droite);
}

.champs_form {
    background-color: var(--bleu-ceruleum);
    padding: 4px;
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.champs_form div {
    display: flex;
    flex-direction: column;
}

.champs_form div input {
    width: 70%;
    margin: 4px 0;
}

.boutons_form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 4px;
}

.champs_form {
    background-color: var(--bleu-ceruleum);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.champs_form div {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px){
  
    .auth {
        margin-top: 20px;
    }
}

/* ==================== [ BODY ] ==================== */

section {
    display: flex;
    flex-direction: row;
}

article {
    width: var(--partie-gauche);
    height: 500px;
}

.cart {
    /*background: linear-gradient(white, var(--cart-color));*/
    width: var(--partie-droite);
    height: 500px;
}

@media screen and (max-width: 900px){
  
    header {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }

    .titre {
        width: 100%;
    }

    .auth {
        width: 100%;
    }

    article {
        width: 100%;
    }

    .cart {
        width: 100%;
    }
}

/* ================== [ GENERALITES ] ================= */

h1 {
    font-size: 2.2em;
    color: black;
}

h2 {
    font-size: 1.4em;
    margin: 10px 0 4px 10px;
}

h3 {
    font-size: 1.2em;
    margin: 20px 0 4px 20px;
}

/* ================== [ CATALOGUE ] ================= */

.catalogue {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
}

.div_element_catalogue {
    width: 200px;
    height: 200px;
}

.div_image {
    border: 2px solid black;
    border-radius: 50%;
    background-color: var(--bleu-ceruleum);
}

.div_image img {
    padding: 25px;
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
}

.div_titre {
    font-family: "Zorque", sans-serif;
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
}

.div_titre h3 {
    margin: 0;
    font-size: 1.4em;
}

/* ===================== [ FORM ] ==================== */

.form_inscription {
    border: thick double var(--bleu-ceruleum);
    margin: 10px;
    padding: 10px;
}